# Environment variables
.env

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.apk
*.ap_
*.aab

# iOS/macOS
Pods/
.symlinks/
Flutter/Flutter.podspec
Flutter/Flutter.framework
Flutter/Generated.xcconfig
Flutter/flutter_export_environment.sh
ServiceDefinitions.json
Runner/GeneratedPluginRegistrant.h
Runner/GeneratedPluginRegistrant.m
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*~.nib
*.xcworkspace
